*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  margin: 50px;
}

#selfDiscription {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.selfDiscription img {
  display: block;
  margin: 0 auto;
  max-width: 20%;
}

#strong {
  color: #005eff;
}

#secondP {
  margin-top: 20px;
}

.second-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#my-projectsText {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 10px);
}

.project img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.project h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  margin-bottom: 10px;
}

.source-code {
  color: #005eff;
  margin-right: 10px;
}

.viewProject {
  background-color: #005eff;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
#myForm {
  width: 80%;
  margin: 0 auto;
}

#myForm label {
  display: block;
  margin-bottom: 10px;
}

#myForm input[type="text"],
#myForm input[type="email"],
#myForm textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

#myForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#myForm input[type="submit"]:hover {
  background-color: #0069d9;
}


@media (max-width: 768px) {
  main {
    margin: 20px;
  }

  .projects {
    flex-direction: column;
  }

  .project {
    margin-bottom: 40px;
    width: 100%;
  }
}
