*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: grid;
  text-align: center;
  color: white;
  width: 100%;
  background-color: #874391;
  border: 5px solid #874391;
}

strong{
  color: black;
}

body{
  background-color: #0B2446;
}

img{
  max-width: 100%;
}

p{
  font-size: 1.5rem;
}

h3{
  font-weight: bolder;
  font-size: 1.6rem;
}

.selfDiscription{
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
width: 50%;
height: auto;
box-sizing: border-box;
transition-duration: 3s;
background-color: rgb(61, 122, 59);
margin-top: 5%;
margin-left: 4%;
padding: 5%;
}

.selfDiscription > p{
  font-weight: bolder;
  color: white;
}
.selfDiscription > p >strong{
  color: black;
}

.selfDiscription > p > img {
  float: left;
  max-width: 30%;
  height: auto;
  margin: 0px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
  margin: 2%;
}
 #secondP{
   position: relative;
   margin-top: 7%;
   margin-bottom: 7%;
 }

.certificteDisplay{
width: 35%;
height: 1000px;
overflow: auto;
border: 5px solid #0B2129;
background-color: #0B2129;
position: absolute;
left: 60%;
top: 20%;
color: #874391;
display: grid;
gap: 2em;
}

.certificteDisplay >p{
  color: white;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.2rem;
}

.contact-details{
  border: 5px dashed #874391;
  background-color: #874391;
  width: 0 auto;
  margin-top: 2%;
  margin-left: 2%;
  display: flex;
  gap: 15px;
}

.contact-details > h2{
  color: white;
  font-weight: bolder;
}

.contact-details > i{
  color: white;
}

.second-header{
  margin-top: 8%;
  display: grid;
  text-align: center;
  width: 100%;
  color: black;
  font-weight: bolder;
  background-color: purple;
}


.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  margin-top: 5%;
}

.project{
  width: 380px;
  background-color: rgb(61, 122, 59);
  color: white;
  box-shadow: 0 15px 30px rgba(0, 255, 0, 0.2), 0 11px 8px rgba(0,0,0,0.22);
  overflow-wrap: break-word;
}

.project > h2{
  margin: 5%;
  background-color: #0B2129;
}

.project > p{
  margin-top: 5%;
  font-weight: bolder;
  font-size: 1.5rem;
}

.project > p > strong{
  color: black;
}

.project > img{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
}

.project > a{
  display: grid;
  margin-top: 6%;
  color: white;
  text-align: center;
}

a:link{
  text-decoration: none;
  background-color: #0B2129;
  font-weight: bolder;
  font-size: 1.5rem;
}
.project > a:hover{
  display: grid;
  margin-top: 6%;
  color: purple;
  text-align: center;
}
footer{
  border: 2px solid #3E3E3E;
  background-color: #3E3E3E;
  height: 100px;
  text-align: center;
  padding: 50px;
  color: white;
  margin-top: 10%;
}
.footer > i{
  background-color: transparent;
  color: black;
}

#messageSubmit{
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 25em;
}
#messageSubmit > h1 {
color: #0B2446;
font-size: 2.1rem;
}

#messageSubmit > form{
  background-color: #0B2129;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#messageSubmit > form > label{
  background-color: purple;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

#messageSubmit > form > input{
  width: 100%;
  height: 40px;
  margin: 1%;
  border-radius: 5em;
  display: flex;
  text-align: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
#messageSubmit > form > textarea{
  width: 95%;
  font-weight: bolder;
  font-size: 1.4rem;
}

#messageSubmit > form > button{
  background-color: purple;
  color: white;
  font-weight: bolder;
  font-size: 1.4rem;
  width: 100%;
  margin-top: 2%;
}

#messageSubmit > form > button:hover{
  background-color: aquamarine;
}

@media only screen and (min-width:320px) and (max-width:480px) {


  .selfDiscription{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
  width: 100%;
  position: relative;
  height: auto;
  transition-duration: 3s;
  background-color: rgb(61, 122, 59);
  margin-top: 5%;
  margin-left: 0%;
  }

  .selfDiscription > p{
    font-weight: bolder;
    color: white;
  }
  .selfDiscription > p >strong{
    color: black;
  }

  .selfDiscription > p > img {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 0px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
    margin: 2%;
  }
   #secondP{
     position: relative;
     margin-top: 7%;
   }

  .certificteDisplay{
  width: 100%;
  height: 700px;
  overflow: auto;
  border: 5px solid #0B2129;
  background-color: #0B2129;
  position: relative;
  left: 0%;
  margin-top: 10%;
  color: #874391;
  display: grid;
  gap: 2em;
  }

  .certificteDisplay >p{
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .contact-details{
    border: 5px dashed #874391;
    background-color: #874391;
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    display: grid;
    justify-content: space-between;
  }

  .contact-details > h2{
    color: white;
    font-weight: bolder;
  }

  .contact-details > i{
    color: white;
  }

  .second-header{
    margin-top: 8%;
    display: grid;
    text-align: center;
    width: 100%;
    background-color: purple;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
  }

  .projects{
    display: flex;
    gap: 10em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
  }

  .project{
    width: 100%;
    background-color: rgb(61, 122, 59);
    color: white;
  }

  .project > h2{
    margin: 5%;
    background-color: #0B2129;
  }

  .project > p{
    margin-top: 5%;
    font-weight: bolder;
    padding: 5%;
  }

  .project > p > strong{
    color: black;
  }

  .project > img{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
  }

  .project > a{
    display: grid;
    margin-top: 6%;
    color: white;
    text-align: center;
    padding: 5%;
    margin-bottom: 5%;
  }

  a:link{
    text-decoration: none;
    background-color: #0B2129;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .project > a:hover{
    display: grid;
    margin-top: 6%;
    color: purple;
    text-align: center;
  }
  footer{
    border: 2px solid #3E3E3E;
    background-color: #3E3E3E;
    height: auto;
    text-align: center;
    padding: 50px;
    color: white;
    margin-top: 10%;
  }
  .footer > i{
    background-color: transparent;
    color: black;
  }

}

@media only screen and (min-width:481px) and (max-width:1118px) {

  .selfDiscription{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
  width: 100%;
  position: relative;
  height: 1000px;
  transition-duration: 3s;
  background-color: rgb(61, 122, 59);
  margin-top: 5%;
  }

  .selfDiscription > p{
    font-weight: bolder;
    color: white;
  }
  .selfDiscription > p >strong{
    color: black;
  }

  .selfDiscription > p > img {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 0px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
    margin: 2%;
  }
   #secondP{
     position: relative;
     margin-top: 7%;
   }

  .certificteDisplay{
  width: 100%;
  height: 400px;
  overflow: auto;
  border: 5px solid #0B2129;
  background-color: #0B2129;
  position: relative;
  left: 0%;
  margin-top: 10%;
  color: #874391;
  display: grid;
  gap: 2em;
  }

  .certificteDisplay >p{
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .contact-details{
    border: 5px dashed #874391;
    background-color: #874391;
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    display: grid;
    justify-content: space-between;
  }

  .contact-details > h2{
    color: white;
    font-weight: bolder;
  }

  .contact-details > i{
    color: white;
  }

  .second-header{
    margin-top: 8%;
    display: grid;
    text-align: center;
    width: 100%;
    background-color: purple;
    color: black;
    font-weight: bolder;
  }
  .projects{
    display: flex;
    gap: 10em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
  }

  .project{
    width: 380px;
    background-color: rgb(61, 122, 59);
    color: white;
    width: 100%;
  }

  .project > h2{
    margin: 5%;
    background-color: #0B2129;
  }

  .project > p{
    margin-top: 5%;
    font-weight: bolder;
  }

  .project > p > strong{
    color: black;
  }

  .project > img{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 11px 8px rgba(0,0,0,0.22);
  }

  .project > a{
    display: grid;
    margin-top: 6%;
    color: white;
    text-align: center;
  }

  a:link{
    text-decoration: none;
    background-color: #0B2129;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .project > a:hover{
    display: grid;
    margin-top: 6%;
    color: purple;
    text-align: center;
  }
  footer{
    border: 2px solid #3E3E3E;
    background-color: #3E3E3E;
    height: 100px;
    text-align: center;
    padding: 50px;
    color: white;
    margin-top: 10%;
  }
  .footer > i{
    background-color: transparent;
    color: black;
  }
}
